<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=[device-width], initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='faq.css') }}">
    <title>Frequently Asked Questions | Screener</title>
</head>
<body>
    <header>Frequently Asked Questions</header>
    <div class="faq-container">
        <div class="faq-card">
            <div class="head">
                What is Earnings Per Share?
            </div>
            <div class="desc">Earnings per share (EPS) is calculated as a company's profit divided by the outstanding shares of its common stock. The resulting number serves as an indicator of a company's profitability. Basically, higher the Earning per share, Higher the company’s profits.</div>
        </div>
        <div class="faq-card">
            <div class="head">What is Dividend Payout?</div>
            <div class="desc">A company's dividend payout ratio is the percentage of that company's earnings that it pays out to its investors as dividend income. A higher payout ratio is a sign of a strong balance sheet, and we find companies with a 35% to 55% payout ratio attractive and a sign of stability.</div>
        </div>
        <div class="faq-card">
            <div class="head">What is Stock Price Valuation?</div>
            <div class="desc">Stock Price Valuation basically gives an Idea to whether the Company has a Higher Valuation than it needs to have or a Lower Valuation based on the Market.</div>
        </div>
        <div class="faq-card">
            <div class="head">What is Return on Equity?</div>
            <div class="desc">Return on equity (ROE) is a measure of financial performance calculated by dividing net income by shareholders' equity. ROE is considered a gauge of a corporation's profitability and how efficient it is in generating profits. Companies that post RoE of more than 15 percent are generally considered to be in a good shape.</div>
        </div>
        <div class="faq-card">
            <div class="head">What is Return on Capital Employed?</div>
            <div class="desc">Return on capital employed (ROCE) is a good baseline measure of a company's performance. ROCE is a financial ratio that shows if a company is doing a good job of generating profits from its capital. companies use ROCE as a useful metric to gauge their performance. A good rule of thumb is that a ROCE of 15% or more is reflective of a decent quality business and this is almost certain to mean it is generating a good return.</div>
        </div>
    </div>
</body>
</html>